body {
    font-family: 'Roboto Condensed', sans-serif;

}

section {
    margin-bottom: 150px;
}

.h1 {
    font-size: 70px;
    color: rgb(59, 190, 45);
    padding: 200px 10px 30px 10px;
    text-align: center;
    line-height: 0%;
    margin-top: 0px;
}

.h2 {
    font-size: 70px;
    color: rgb(59, 190, 45);
    padding: 30px 10px 30px 10px;
    text-align: center;

}

.first {
    height: 700px;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    text-align: center;
}



#p1 {
    color: white;
    font-size: 20px;
    text-align: center;

}

#button1 {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, rgb(217, 92, 70));
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    line-height: 100px;

}

.h3 {
    font-size: 70px;
    color: black;
    padding: 200px 10px 30px 10px;
    text-align: center;
    line-height: 0%;
    margin-top: 0px;
}

.p2 {
    color: rgb(88, 85, 85);
    font-size: 20px;
    text-align: center;

}

.part {
    display: flex;
}

.a1 {
    width: 10%;
    height: 130px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 350px;
    background-color: rgb(230, 226, 222);
}

.a2 {
    width: 10%;
    height: 130px;
    text-align: center;
    margin-top: 50px;
    margin-right: 7px;
    margin-bottom: 50px;
    margin-left: 7px;
    background-color: rgb(230, 226, 222);
}

.a3 {
    width: 10%;
    height: 130px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(213, 131, 131);
    border: 2px solid red;

}

.a4 {
    width: 10%;
    height: 130px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 7px;
    background-color: rgb(230, 226, 222);
}

.a5 {
    width: 10%;
    height: 130px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 7px;
    background-color: rgb(230, 226, 222);
}

.input {
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom: 2px solid rgb(225, 215, 215);
    margin-left: 25%;
    width: 50%;
}

#button2 {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, rgb(217, 92, 70));
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    line-height: 100px;
    margin-left: 45%;

}

.b1 {
    width: 25%;
    height: 350px;
    border-radius: 7px;
    padding-left: 30px;
    margin-top: 50px;
    margin-left: 130px;
    margin-right: 20px;
    background-color: rgb(214, 236, 233);
}

.b2 {
    width: 25%;
    height: 350px;
    border-radius: 7px;
    padding-left: 30px;
    margin-top: 50px;
    margin-right: 20px;
    background-color: rgb(242, 203, 244);
}

.b3 {
    width: 25%;
    height: 350px;
    border-radius: 7px;
    padding-left: 30px;
    margin-top: 50px;
    background-color: rgb(203, 243, 191);
}

.p3 {
    font-size: 20px;
    color: rgba(102, 120, 123, 0.589);
}

.h4 {
    font-size: 60px;
    color: black;
    margin-top: 40px;
    margin-left: 77px;
}

.p4 {
    color: rgb(88, 85, 85);
    font-size: 20px;
    margin-left: 77px;
    margin-right: 50px;
}

.button3 {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, rgb(217, 92, 70));
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    line-height: 100px;
    margin-left: 77px;
}

.image1 {
    height: 400px;
    width: 500px;
    margin-right: 100px;
    margin-top: 30px;
}

.image2 {
    height: 400px;
    width: 500px;
    margin-left: 100px;
    margin-top: 30px;
}

.email {
    width: 50%;
    height: 230px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25%;
    background-color: rgb(242, 213, 184);
}

.input1 {
    font-size: 15px;
    padding-top: 15px;
    margin-top: 80px;
    width: 40%;
    border: none;
}

#button4 {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, rgb(217, 92, 70));
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}


















footer {
    background-color: black;
    line-height: 15%;
    height: 200px;
    width: auto;
}

footer h2 {
    font-size: 35px;
    padding-top: 100px;
    color: rgb(200, 16, 16);
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;

}

footer p {
    font-size: 15px;
    padding-top: 2%;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}